<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render("api/users/user.json.jbuilder",user: current_user).html_safe %>
  <% end %>
</script>

<script type="text/javascript">
  window.staticImages = {
    logo: "<%= asset_url("logo.png") %>",
    splash:  "<%= asset_url("splash.jpg") %>"
  }
</script>

<main id="root">

</main>
