$font-size: 14px;

#general-nav-container {
  position: relative;
  box-sizing: border-box;
  padding: 0 10px;
}

.general-nav-icon {
  color: white;
}

.general-nav-menu {
  position: absolute;
  top: 30px;
  right: 0;
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 130px;
  box-sizing: border-box;
  list-style: none;
  padding: 10px 15px;
  line-height: $font-size;
}

.general-nav-menu-item {
  position: relative;
  right: 0;
  text-decoration: none;
  color: #ccc;
  cursor: pointer;

  &:hover {
    color: white;
  }
}
