#track-show-container {
  margin: auto;
  margin-bottom: 60px;
  display:flex;
  flex-direction: column;
  width: 1250px;
  background-color: white;
  padding-top: 45px
}

#track-show-header {
  height: 380px;
  // background: linear-gradient(90deg,#002f84,#3b9efe);
  display: flex;
  align-items: center;
}

#track-show-header-left {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 70%;
}

.track-show-header-play-button {
  min-width: 65px;
  height: 65px;
  padding-left: 10px;
  border-radius: 50%;
  font-size: 25px;
  background-color: #2577f9;
  border: none;
  outline: 0;

  &:hover {
    background-color: #104399;
  }

  &:active {
    outline: 0;
  }
}

#track-show-header-info {
  display: flex;
  // align-items: flex-start;
  // height: 70px;
  margin: 30px;
}

#track-show-header-by-info {
  padding-left: 8px;
  display: flex;
  flex-direction: column;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#track-show-header-username {
  display: inline-table;
  padding: 3px 10px;
  font-size: 15px;
  height: 25px;
  background-color: black;
  color: white;
  text-decoration: none;
}

#track-show-header-title{
  display: inline-table;
  font-size: 25px;
  padding: 3px 10px;
  margin: 5px 0;
  background-color: black;
  color: white;
}


#track-show-header-image {
  width: 340px;
  height: 340px;
  background-size: cover;
  float: right;
}

#track-show-info-container {
  display: flex;
  flex-direction: column;
  margin: 15px 30px;
}

#track-show-info {
  display: flex;
  padding-top: 20px;
  width: 100%;
}

#track-show-info-user {
  // display: flex;
  // flex-direction: column;
  width: 130px;
}

#track-show-info-user-image {
  margin: auto;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-size: cover;
}

#track-show-info-user-username {
  padding: 10px;
  a {
    display: block;
    text-decoration: none;
    color: gray;
  }
}

#track-show-info-comments-description{
  display: flex;
  flex-direction: column;
  margin: 0 30px;
  width: 100%;
}

#track-show-info-description {
  text-decoration: none;
  font-size: 14px;
  min-height: 150px;

  span {
    text-decoration: bold;
    font-size: 16px;
  }
}

.track-show-loader {
    margin: auto;
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#track-show-panel {
  // display: flex;
  position: relative;
  // width: 140px;
  display: inline-block;
  padding: 20px 25px 0 25px;
}


.track-show-panel-button {
  font-size: 12px;
  padding: 3px 6px;
  margin: 5px 3.5px;
  text-decoration: none;
  display: inline-block;
  max-height: 20px;
  color: black;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;

  &:active {
    background-color: #999;
  }
}

.track-show-options-menu {
  width: 150px;
  position: absolute;
  right: -120px;
  top: -10px;
  font-size: 15px;
  border: 1px solid #999;
  background-color: white;

  div {
    padding: 5px;
    border-bottom: 1px solid #999;
    cursor: pointer;

    &:hover {
      background-color: #ccc;
    }
  }

  div:last-of-type {
    border-bottom: 0;
  }
}
