#upload-page-container {
  margin: auto;
  display:flex;
  flex-direction: column;
  width: 1250px;
  background-color: white;
  padding-top: 45px;
  justify-content: space-between;
  min-height: 350px;
}

#upload-page1 {
  margin: auto;
  margin-top: 150px;
  margin-bottom: 150px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 250px;
  width: 800px;
  border: 1px solid #ccc;
}

#upload-welcome {
  margin: auto;
  margin-top: 30px;
  font-size: 24px;
}

#track-upload-input {
  visibility: hidden;
  z-index: -1;
  font-size: 36px;
  width: 0.1px;
  height: 0.1px;
}

#track-upload-input-label {
  display: block;
  padding: 10px 20px;
  margin: 25px auto;
  background-color: #1177ff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

#upload-page-2-form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

#upload-page-2{
  display: flex;
}

#upload-track-image {
  position: relative;
  height: 260px;
  width: 260px;
  background-size: cover;
  margin: 20px;
  color: black;

  #change-image-file-label {
    position: absolute;
    font-size: 12px;
    bottom: 5px;
    left: 50%;
    width: 150px;
    transform: translateX(-50%);
    padding: 5px 10px;
    margin: 10px auto;
    background-color: #ccc;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #333;

  }

  input {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
    z-index: -1;
    font-size: 36px;
    width: 0.1px;
    height:0.1px;
    padding: 0;
    margin: 0;
  }
}

#upload-track-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  input, textarea {
    padding: 5px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #999;
    font-size: 14px;
    width: 95%;
    box-sizing: border-box;
  }

  input:focus, textarea:focus {
    outline: none;
  }

  textarea{
    resize: none;
  }
}

#upload-submit-cancel {
  float: right;
  margin-right: 20px;

  #upload-cancel-button {
    float: right;
    font-size: 16px;
    background-color: white;
    border: none;
    margin: 5px 5px;
    padding: 5px 10px;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  input[type="submit"] {
    float: right;
    font-size: 16px;
    background-color: #1177ff;
    border: none;
    color: white;
    margin: 5px 5px;
    padding: 5px 10px;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }
}

#upload-title-missing-error {
  color: #1177ff;
  font-size: 14px;
}
