#user-show-container {
  display: relative;
  margin: 0 auto;
  margin-bottom: 60px;
  padding-top: 45px;
  display:flex;
  flex-direction: column;
  width: 1250px;
  background-color: white;
}

#user-show-background-image {
  position: relative;
  display: flex;
  background-size: cover;
  background-repeat: none;
  background-position: 0px -150px;
  height: 260px;
  width: 100%;
}

#user-show-profile-image {
  position: relative;
  margin: 27.5px 30px 27.5px 30px;
  background-size: cover;
  height: 205px;
  width: 205px;
  border-radius: 50%;

  #change-profile-image-box {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    #change-profile-image-label{
      display: block;
      font-size: 12px;
      margin: 0px auto;
      padding: 5px 10px;
      width: 120px;
      background-color: #ccc;
      border-radius: 5px;
      cursor: pointer;
      border: 1px solid #999;
      &:hover {
        background-color: white;
      }
      transition: background-color 500ms;
    }

    #change-profile-image {
      visibility: hidden;
      z-index: -1;
      font-size: 36px;
      width: 0.1px;
      height: 0.1px;
    }
  }
}

#user-show-username {
  margin-top: 27.5px;
  height: 40px;
  font-size: 24px;
  padding: 5px 8px;
  box-sizing: border-box;
  color: white;
  background-color: black;

}

#change-background-image-box {
  position: absolute;
  top: 15px;
  right: 15px;

  #change-background-image-label {
    display: block;
    font-size: 12px;
    padding: 5px 10px;
    margin: 0 auto;
    background-color: #ccc;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #999;
    &:hover {
      background-color: white;
    }

    transition: background-color 500ms;
  }
  #change-background-image {
    visibility: hidden;
    z-index: -1;
    font-size: 36px;
    width: 0.1px;
    height: 0.1px;
  }
}


.fa-camera {
  padding-right: 5px;;
}

#user-show-panel {
  margin: 0px 30px;
  margin-top: 20px;
  padding-bottom: 8px;
  border-bottom: 1px solid #ccc;

  #user-show-panel-selectors {


    a {
      margin: 0 12px;
      padding-bottom: 8px;
      text-decoration: none;
      color: black;
      font-weight: bold;
      font-size: 18px;

      &.selected {
        color: #1177ff;
        border-bottom: 1px solid #1177ff;
      }

      &:first-of-type {
        margin-left: 0;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}
