.main-nav {
  display: block;
  position: absolute;
  height: 50px;
  width: 100%;
  background-color: black;
  // padding: 5px;

}

.main-nav-links {
  display: flex;
}

.main-logo {
  height: 50px;
  width: 50px;
}

.main-nav-button {

    display: block;
    height: 100%;
    color: white;
    text-decoration: none;
    margin: 0;
    height: 100%;
    line-height: 50px;
    padding: 0 50px;
}

.main-nav-button.active {
  background-color: gray;
}
