.session-form-screen {
  position: absolute;
  z-index: 1;
  top: 0; bottom: 0; left: 0; right: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.session-form {
  position: absolute;
  top: 100px;
  left: 100px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  transform: translateX(50%);
  width: 500px;

  label {
    padding: 10px 0;
  }

  input[type="text"],  input[type="password"]{
    padding: 5px;
    width: 97%;
    border-radius: 5px;
    font-size: 18px;
  }

  input[type="submit"] {
    padding: 10px 0;
    background-color: #2288ff;
    border-radius: 5px;
    font-size: 18px;
    color: white;
  }

  .session-errors {
    color: red;
  }
}

.session-form-transform-enter {
  transform: translateY(500%);
}

.session-form-transform-enter.session-form-transform-enter-active {
  transform: translateY(0);
  transition: transform 500ms;
}

.session-form-transform-leave {
  transform: translateY(0);
}

.session-form-transform-leave.session-form-transform-leave-active {
  transform: translateY(500%);
  transition: transform 500ms;
}
