$font-size: 14px;

#user-nav-container {
  position: relative;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
}

.user-nav-username {
  color: white;
  display:flex;
  line-height: $font-size;
  padding-top: $font-size;
}

.user-nav-menu {
  position: absolute;
  left: 0;
  padding: 15px 15px 15px 15px;
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 130px;
  line-height: $font-size;
  box-sizing: border-box;
}

#user-nav-profile-image {
  // margin: $font-size 10px 0 0;
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.user-nav-menu-item {
  text-decoration: none;
  padding: 7px 0;
  color: #ccc;
  padding-left: 0;

  &:hover {
    color: white;
  }

  &:last-of-type {
    padding-bottom: 0;
  }

  svg {
    padding-right: 10px;
  }
}
